@import '../../scss/mixins';
.reviews {
   padding: 15rem 2rem 10rem 0;
   min-width: 100%;
   max-width: 100%;
   min-height: 75rem;
   background: var(--color-main-light);
   color: var(--color-main-dark);

   @media screen and (max-width: 1440px) {
      padding-inline: 10rem;
   }

   @media screen and (max-width: 968px) {
      padding: 4rem 2rem;
   }

   &__title {
      @include title;
   }
   &__cards {
      margin-top: 8rem;
      display: flex;
      flex-wrap: wrap;

      @media screen and (max-width: 968px) {
         flex-flow: column;
         row-gap: 4rem;
      }
   }
}

@media only screen and (min-width: 1500px) and (max-width: 1919px) {
   .reviews {
      padding-right: 10rem;
      padding-left: 10rem;
   }
}

@media only screen and (min-width: 1920px) {
   .reviews {
      padding-left: 25rem;
      padding-right: 21rem;
   }
}
